<div class="container" ng-controller="signUpController">
    <div class="sign-in-up" id="to-top">
        <section class="sign-in-up-section">
            <div class="container">
                <section class="sign-in-up-content">
                      <div class="row">
                        <div class="col-md-12">
                            <h1 class="text-center">
                                <label><span class="fa fa-sign-in"></span> {{'logon_signUp' | translate}}</label>
                            </h1>  
                             <div class="form-group">
                                <label>{{'logon_name' | translate}}</label>
                                <input type="text" class="form-control" name="name" ng-model="user.name">
                            </div>
                            <div class="form-group">
                                <label>{{'logon_mail' | translate}}</label>
                                <input type="text" class="form-control" name="email" ng-model="user.email">
                            </div>
                            <div class="form-group">
                                <label>{{'logon_pass' | translate}}</label>
                                <input type="password" class="form-control" name="password" ng-model="user.password">
                            </div>
                            <div class="form-group">
                                <label>{{'logon_confirm_pass' | translate}}</label>
                                <input type="password" class="form-control" name="password" ng-model="user.confirmpassword">
                            </div>
                            <a class="btn btn-warning btn-lg" ng-click="signup()">{{'logon_ingresar' | translate}}</a>
                            <hr>

                             <p>{{'logon_ya_registrado' | translate}} <a ui-sref="login">{{'logon_login' | translate}}</a></p>
                        </div>
                      </div>
                    </form>
                </section>
            </div>
        </section>
    </div>  
    
</div>